
.DS_Store
results/Run_2286/STM/105999_GGCTAC_S10_L007_R1_001.fastq/run_info.json
*.tsv
*.h5
*.json
results/DESeq2_human/dds.Rdata
results/DESeq2_human/STM_over_PBS_Wald-test.csv
results/DESeq2_human/complete_dataset_txi.csv
results/DESeq2_human/complete-dataset_DESeq2-normalized-counts.csv
data/Run_2286/Run_2286_oriordan.csv
results/DESeq2_STM/STM24h-over-STM8h-Wald-test.csv
results/DESeq2_STM/dds.Rdata
results/DESeq2_STM/complete_dataset_txi.csv
results/DESeq2_STM/complete-dataset_DESeq2-normalized-counts.csv
src/string_split_stm.R
